.hero-about {
  background: url('../img/about-hero__mobile.jpg') no-repeat;
  background-size: cover;
  background-position: bottom right;

  @include breakpoint($medium) {
    background: url('../img/about-hero.jpg') no-repeat;
    background-size: cover;
    background-position: center;
  }
}