.checkout-tabs .nav-item {
  border-top: 0.25rem solid rgba(162, 162, 162, 0.3) !important;
  border-radius: 0;
  display: flex;

  &.active {
    border-top: 0.25rem solid #FF9751 !important;
    font-weight: 700;
  }
}

.checkout-tabs .tab-number {
  border: 0.0625rem solid $color-dark-blue;
  border-radius: 1.5625rem;
  display: block;
  height: 1.5625rem;
  line-height: 1rem;
  margin-right: 1rem;
  width: 1.5625rem;
  padding: 0.25rem;
}

.checkout-tabs .active .tab-number {
  border: 0.125rem solid $color-dark-blue;
  line-height: 0.75rem;
}