// Links
a {
  font-family: $font-family-sans-serif;
  font-style: normal;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  img {
    position: relative;
    top: -0.0625rem;
  }
}

a.link-underline {
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

a.link-capitalize {
  text-transform: capitalize;
}

a.link-uppercase {
  font-weight: 600;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

a.link-normal {
  font-size: 1rem;
}

// Navigation
.navbar {
  text-transform: uppercase;
}

// Buttons
.btn {
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

.btn:disabled {
  color: $color-light;
}

// Images
.img-fluid {
  width: 100%;
}