/* Fonts */
.font-sans-serif {
  font-family: $font-family-sans-serif !important;
}

.font-heading {
  font-family: $font-family-heading !important;
}

/* Line Height */
.line-height-1 {
  line-height: 0.75rem !important;
}

.line-height-2 {
  line-height: 1rem !important;
}

.line-height-3 {
  line-height: 1.5rem !important;
}

.line-height-4 {
  line-height: 2rem !important;
}

.line-height-5 {
  line-height: 2.5rem !important;
}

// Screenreaders


.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}