$theme-colors: (
    "primary": blue,
    "dark": #000000
);

@import "node_modules/bootstrap/scss/bootstrap";

// Font styles
@import "typography";

body {
    padding-top:56px;
    font-family: "IBMPlexSans";
}
.footer {
    margin-top:3rem;
}
.navbar {
    border-bottom:1px solid #eee;
}
