// Fonts
$font-family-sans-serif: "IBMPlexSans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue";
$font-family-heading: "WorkSans";

// Colors
$color-black: #000;
$color-white: #FFF;
$color-purple: #5261AC;
$color-light-purple: #EDEFF7;
$color-blue: #1A148E;
$color-dark-blue: #050542;
$color-gray: #D9D9D9;
$color-base-gray: #A2A2A2;
$color-dark-gray: #333;
$color-light-orange: #F7ECE2;
$color-dark-orange: #C2500F;

$color-light: $color-white;
$color-dark: $color-black;

// Theme color map
$theme-colors: (
    "primary": $color-purple,
    "secondary": $color-blue,
    "light": $color-white,
    "dark": $color-black
);

// Custom color map
$custom-colors: (
    "blue": $color-blue,
    "dark-blue": $color-dark-blue,
    "gray": $color-gray,
    "base-gray": $color-base-gray,
    "dark-gray": $color-dark-gray,
    "light-orange": $color-light-orange,
    "dark-orange": $color-dark-orange,
    "purple": $color-purple,
    "light-purple": $color-light-purple,
    "disabled": $color-gray
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);

// Headings
$display-font-sizes: (
    1: 2.5rem,
    2: 2rem,
    3: 1.5rem,
    4: 1.25rem,
    5: 1rem,
    6: 0.75rem
);

$spacer: 1rem;
$spacers: (
    0: 0,
    1: $spacer * .25,
    2: $spacer * .5,
    3: $spacer,
    4: $spacer * 1.5,
    5: $spacer * 2,
    6: $spacer * 3,
    7: $spacer * 6
);

$display-font-family: $font-family-heading;
$display-font-style:  null;
$display-font-weight: 600;
$display-line-height: 2.75rem;
$headings-color: $color-purple;

// Links
$link-color: $color-dark-blue;

// Buttons
$btn-border-radius: 0.25rem;
$btn-font-weight: 600;
$btn-font-family: $font-family-sans-serif;
$btn-padding-y: 1rem;
$btn-padding-x: 2.75rem;
$btn-line-height: 1.25rem;
$btn-link-disabled-color: $color-white;

// Forms
$input-color: $color-dark-gray;
$input-border-radius: 0;
$input-border-color: $color-base-gray;
$input-focus-border-color: $color-dark-gray;
$input-placeholder-color: $color-base-gray;
$form-label-color: $color-dark-gray;
$input-padding-x: 0.625rem;
$input-padding-y: 0.625rem;

// Navbar
$navbar-dark-color: $color-dark;
$navbar-dark-hover-color: $color-dark-blue;
$navbar-dark-active-color:  $color-dark-blue;

$navbar-padding-y: 1.75rem;
$navbar-brand-font-size: 0.875rem;

// Breadcrumbs
$breadcrumb-divider: quote(">");
