<div class="offcanvas offcanvas-end" tabindex="-1" id="accountDetails" aria-labelledby="accountDetailsLabel">
  <div class="offcanvas-header border-bottom p-4 d-flex justify-content-end position-relative">
    <h5 class="offcanvas-title display-3 position-absolute top-50 start-50 w-100 text-center translate-middle" id="accountDetailsLabel">@@heading</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <form action="" class="my-3">
      <div class="row">
        <div class="col-12 col-lg-6">
          <label for="first-name" class="form-label">First Name*</label>
          <input type="text" class="form-control" id="first-name" value="Jennifer" placeholder="Enter your first name">
        </div>
        <div class="col-12 col-lg-6 mt-3 mt-lg-0">
          <label for="last-name" class="form-label">Last Name*</label>
          <input type="text" class="form-control" id="last-name" value="Weston" placeholder="Enter your last name">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col">
          <label for="company" class="form-label">Company</label>
          <input type="text" class="form-control" id="company" value="FIREBRAND, LLC" placeholder="Enter your company's name">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col">
          <label for="email" class="form-label">Email Address*</label>
          <input type="email" class="form-control" id="email" value="jenwestone@gmail.com" placeholder="Enter your email address">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col">
          <label for="phone" class="form-label">Phone Number*</label>
          <input type="tel" class="form-control" id="phone" value="(123) 456-7891" placeholder="Enter your phone number">
        </div>
      </div>
    </form>
  </div>
  <div class="offcanvas-bottom">
    <div class="row border-top p-2 p-lg-4">
      <div class="col-12 col-lg-6 d-grid">
        <input class="btn btn-outline-dark-blue" type="submit" value="@@submit">
      </div>
      <div class="col-12 col-lg-6 mt-2 mt-lg-0 d-grid">
        <button class="btn btn-dark-blue">@@cancel</button>
      </div>
    </div>
  </div>
</div>