<div class="offcanvas offcanvas-end" tabindex="-1" id="advancedShippingForm" aria-labelledby="advancedShippingFormLabel">
  <div class="offcanvas-header border-bottom p-4 d-flex justify-content-end position-relative">
    <h5 class="offcanvas-title display-3 position-absolute top-50 start-50 w-100 text-center translate-middle" id="advancedShippingFormLabel">@@heading</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body d-flex align-items-center justify-content-center">
    <div>
      <p>This order has advanced shipping options configured for one or more items.</p>
      <p>If you remove advanced shipping, the customizations you made (like split quantities, separate addresses, and shipping methods) will be removed and the entire order will ship to a single address.</p>
      <p class="fw-bold">Are you sure you want to remove advanced shipping?</p>
    </div>
  </div>
  <div class="offcanvas-bottom">
    <div class="row border-top p-2 p-lg-4">
      <div class="col-12 col-lg-6 d-grid">
        <input class="btn btn-outline-dark-blue" type="submit" value="@@submit">
      </div>
      <div class="col-12 col-lg-6 mt-2 mt-lg-0 d-grid">
        <button class="btn btn-dark-blue">@@cancel</button>
      </div>
    </div>
  </div>
</div>