<section class="container my-4 py-4">
  <div class="row">
    <div class="col">
      <ul class="nav nav-fill checkout-tabs" id="checkoutTabs" role="tablist">
        <li class="nav-item py-3 pe-4 col-3 text-uppercase @@tab1-active" role="tab" tabindex="0">
          <span class="tab-number">1</span>
          Customer Info<span class="d-none d-lg-block">rmation</span>
        </li>
        <li class="nav-item py-3 pe-4 col-3 text-uppercase @@tab2-active" role="tab" tabindex="0">
          <span class="tab-number">2</span>
          Shipping<span class="d-none d-lg-block ms-1"> &amp; Delivery</span>
        </li>
        <li class="nav-item py-3 pe-4 col-3 text-uppercase @@tab3-active" role="tab" tabindex="0">
          <span class="tab-number">3</span>
          Payment
        </li>
        <li class="nav-item py-3 col-3 text-uppercase @@tab4-active" role="tab" tabindex="0">
          <span class="tab-number">4</span>
          Review Order
        </li>
      </ul>
    </div>
  </div>
</section>