<nav class="navbar navbar-expand-lg navbar-light bg-light border-0">
  <div class="container">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href=".."><img src="./img/logo-firebrand.svg" alt="Firebrand"></a>
    <h1 class="h3 m-0">Checkout</h1>
  </div>
</nav>