<div class="row border rounded-2">
  <div class="col p-4">
    <table class="table table-borderless m-0">
      <thead>
        <tr class="visually-hidden">
          <th>Charge</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="fw-bold">Subtotal</td>
          <td class="text-end">$490.00</td>
        </tr>
        <tr>
          <td class="fw-bold">Discounts</td>
          <td class="text-end">$0.00</td>
        </tr>
        <tr>
          <td class="fw-bold">Shipping</td>
          <td class="text-end">$12.00</td>
        </tr>
        <tr>
          <td class="fw-bold pb-4">Taxes</td>
          <td class="text-end pb-4">$32.00</td>
        </tr>
        <tr class="table-group-divider border-base-gray">
          <td class="fw-bold pt-4">Order Total</td>
          <td class="text-end pt-4">$534.00</td>
        </tr>
      </tbody>
    </table>
    @@if (context.button) {
    <div class="row @@btnClass">
      <div class="col d-grid">
        <button class="btn btn-dark-blue" type="button">@@button</button>
      </div>
    </div>
    }
  </div>
</div>