<div class="accordion-item">
  <h2 class="accordion-header" id="productQuantity">
    <button class="accordion-button display-2 text-uppercase text-dark-gray" type="button" data-bs-toggle="collapse" data-bs-target="#productQuantityCollapse" aria-expanded="true" aria-controls="productQuantityCollapse">
      Quantity
    </button>
  </h2>
  <div id="productQuantityCollapse" class="accordion-collapse collapse show" aria-labelledby="productQuantity" data-bs-parent="#orderInfo">
    <div class="accordion-body pt-0 pb-4">
      @@include('./order-form-quantity.html', {
        "classes": ""
      })
    </div>
  </div>
</div>