<div class="row @@classes">
  <div class="col">
    <div>Would you like to review a proof before we print?</div>
    <div class="form-check mt-3">
      <input class="form-check-input active" type="radio" name="proof" id="proof1" checked>
      <label class="form-check-label ms-2" for="proof1">
        Yes, send me a proof
      </label>
    </div>
    <div class="form-check mt-3">
      <input class="form-check-input" type="radio" name="proof" id="proof2">
      <label class="form-check-label ms-2" for="proof2">
        No, don’t send me a proof
      </label>
    </div>
  </div>
</div>