<div class="row gx-3 @@classes">
  <div class="col">
    <div class="row">
      <div class="col-4 col-lg-2 ps-0">
        <img class="w-100" width="126" height="88" src="./img/placeholder-small.png" alt="">
      </div>
      <div class="col-8 col-lg-10">
        <div class="row">
          <div class="col-12 col-lg-8">
            <h3 class="display-4">@@title</h3>
          </div>
          <div class="col-12 col-lg-4 text-lg-end d-flex flex-column justify-content-between">
            <div class="fs-5 fw-bold text-purple">$145.00</div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-lg-9">
            <div class="mt-3">
              <span class="fw-bolder">Quantity:</span> 150
            </div>
            <div class="mt-1">
              <span class="fw-bolder">Size:</span> 4" x 4"
            </div>
            <div class="mt-1">
              <span class="fw-bolder">Material:</span> White Polyester, 2 mil
            </div>
          </div>
          <div class="col-12 col-lg-3 mt-3 text-lg-end d-flex flex-column justify-content-center">
            <div>
              <span class="p-1 fs-7 text-uppercase bg-light-orange text-dark-orange">Split Shipping</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-end">
      <div class="col-8 col-lg-7">
        <div class="accordion accordion-small mt-3" id="@@accordion">
          <div class="accordion-item">
            <h2 class="accordion-header" id="@@heading">
              <button class="accordion-button fs-7 text-dark-blue collapsed" type="button" data-bs-toggle="collapse" data-bs-target="@@orderTarget" aria-expanded="false" aria-controls="@@orderAria">
                View More Details
              </button>
            </h2>
            <div id="@@accordionBody" class="accordion-collapse collapse" aria-labelledby="@@accordionLabelby" data-bs-parent="@@accordionBodyTarget">
              <div class="accordion-body line-height-3">
                <div>
                  <span class="fw-bolder">Part Number:</span> 123
                </div>
                <div class="mt-1">
                  <span class="fw-bolder">Overlaminate:</span> Gloss Polyester, 1 mil
                </div>
                <div class="mt-1">
                  <span class="fw-bolder">Color(s):</span> Blue
                </div>
                <div class="mt-1">
                  <span class="fw-bolder">Form Factor:</span> Rolls
                </div>
                <div class="mt-1">
                  <span class="fw-bolder">Production Time:</span> Standard
                </div>
                @@include('../account/split-shipping-item.html', {
                "tracking": "d-none"
                })
                @@include('../account/split-shipping-item.html', {
                "tracking": "d-none"
                })
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-3 mt-4 d-grid d-lg-block text-lg-end">
        @@if (context.button) {
        <button type="button" class="btn btn-sm btn-dark-blue">@@button</button>
        }
      </div>
    </div>

  </div>
</div>