<div class="row gx-3 @@classes">
  <div class="col">
    <div class="row justify-content-between">
      <div class="col-3 ps-0">
        <img width="126" height="88" src="./img/placeholder-small.png" alt="">
        <h3 class="h5 text-uppercase mt-4">@@title</h3>
        <div class="mt-4">
          <strong>Quantity:</strong> @@quantity
        </div>
      </div>
      <div class="col-9">
        <div class="row border rounded-2">
          <div class="col px-5 py-6">
            <div class="row">
              <div class="col">
                <h4 class="display-4 text-uppercase text-dark-gray">Split Quantity</h4>
                <div class="col-3 d-flex align-items-center mt-3">
                  <label for="split-qty" class="form-label visually-hidden">Email Address*</label>
                  <input type="text" class="form-control text-end me-2" id="split-qty" placeholder="" value="60">
                  <span class="col-6">of 150</span>
                </div>
              </div>
            </div>
            @@include('./order-choose-shipping-address.html', {
              "headingLevel": "h4",
              "headingClasses": "display-4 text-uppercase text-dark-gray"
            })
            @@include('./order-delivery-options.html', {
              "headingLevel": "h4",
              "headingClasses": "display-4 text-uppercase text-dark-gray"
            })
            <div class="row mt-6 text-end">
              <div class="col">
                <a class="link-underline fs-6 me-3" href="javascript: alert('cancel');">Cancel</a>
                <a class="link-underline fs-6" href="javascript: alert('save');">Save</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col">
            <a class="link fs-6" href="javascript: alert('cancel');"><span class="pe-2 fs-5">+</span> Add Shipment</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>