<div class="row border rounded-2 mb-3">
  <div class="col px-5 py-6 position-relative">
    <a class="position-absolute top-50 pointer-event" href="#" style="left: -2rem;">
      <img src="./icons/icon-trash.svg" alt="Delete Split Shipping Item" data-bs-toggle="offcanvas" data-bs-target="#advancedShippingForm" aria-controls="advancedShippingForm">
    </a>
    <div class="row">
      <div class="col-12 col-lg-4">
        <h3 class="display-5 text-dark-gray fw-normal">Split Quantity</h3>
        <div class="col-8 d-flex align-items-center mt-3">
          <label for="split-qty" class="form-label visually-hidden">Email Address*</label>
          <input type="text" class="form-control fw-bold text-end me-2" id="split-qty" placeholder="" value="@@qty">
          <span class="col-6">of 150</span>
        </div>
      </div>
      <div class="col-12 col-lg-4 mt-4 mt-lg-0">
        <h3 class="display-5 text-dark-blue fw-normal">Shipping Address</h3>
        <div class="">
          <div class="fw-bold">Jennifer Weston</div>
          <div>FIREBRAND, LLC</div>
          <div>1234 N Main Road</div>
          <div>Seattle, WA 98122</div>
          <div>(123) 456-7891</div>
        </div>
      </div>
      <div class="col-12 col-lg-4 mt-4 mt-lg-0">
        <h3 class="display-5 text-dark-blue fw-normal">Shipping Method</h3>
        <div class="">
          <div class="fw-bold">Standard</div>
          <div>5-6 Business days</div>
        </div>
      </div>
      <div class="col-1 d-flex align-items-end mt-4 mt-lg-0">
        <a class="link-underline fw-bold fs-6" href="javascript: alert('edit');">Edit</a>
      </div>
    </div>
  </div>
</div>