<div class="accordion-item">
  <h2 class="accordion-header" id="productDetails">
    <button class="accordion-button display-2 text-uppercase text-dark-gray" type="button" data-bs-toggle="collapse" data-bs-target="#productDetailsCollapse" aria-expanded="true" aria-controls="productDetailsCollapse">
      Product Details
    </button>
  </h2>
  <div id="productDetailsCollapse" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#orderInfo">
    <div class="accordion-body pt-0 pb-4">
      <form action="">
        @@include('./order-form-details.html', {
          "classes": ""
        })
        <div class="row mt-5">
          <div class="col text-center d-flex">
            <button type="button" class="btn btn-dark-blue flex-grow-1">Continue</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>