<div class="accordion-item mt-4">
  <h2 class="accordion-header" id="fileUpload">
    <button class="accordion-button collapsed display-2 text-uppercase text-dark-gray" type="button" data-bs-toggle="collapse" data-bs-target="#fileUploadCollapse" aria-expanded="false" aria-controls="fileUploadCollapse">
      File Upload
    </button>
  </h2>
  <div id="fileUploadCollapse" class="accordion-collapse collapse" aria-labelledby="fileUpload" data-bs-parent="#orderInfo">
    <div class="accordion-body pt-0 pb-4">
      @@include('./order-form-upload.html', {
        "classes": ""
      })
      <div class="row mt-5">
        <div class="col text-center d-flex">
          <button type="button" class="btn btn-dark-blue flex-grow-1">Continue</button>
        </div>
      </div>
    </div>
  </div>
</div>