<div class="row @@classes">
  <div class="col">
    <div>What production time do you need?</div>
    <div class="form-check mt-3">
      <input class="form-check-input" type="radio" name="productionTime" id="productionTime1">
      <label class="form-check-label ms-2" for="productionTime1">
        Standard (5-7 business days)
      </label>
    </div>
    <div class="form-check mt-3">
      <input class="form-check-input" type="radio" name="productionTime" id="productionTime2">
      <label class="form-check-label ms-2" for="productionTime2">
        3 day
      </label>
    </div>
    <div class="form-check mt-3">
      <input class="form-check-input" type="radio" name="productionTime" id="productionTime3">
      <label class="form-check-label ms-2" for="productionTime3">
        2 day
      </label>
    </div>
    <div class="form-check mt-3">
      <input class="form-check-input" type="radio" name="productionTime" id="productionTime4">
      <label class="form-check-label ms-2" for="productionTime4">
        1 day
      </label>
    </div>
    <div class="form-check mt-3">
      <input class="form-check-input" type="radio" name="productionTime" id="productionTime5">
      <label class="form-check-label ms-2" for="productionTime5">
        Same day
      </label>
    </div>
  </div>
</div>