<div class="row gx-3 @@classes">
  <div class="col">
    <div class="row justify-content-between">
      <div class="col-3 ps-0">
        <img width="126" height="88" src="./img/placeholder-small.png" alt="">
        <h3 class="h5 text-uppercase mt-4">@@title</h3>
        <div class="mt-4">
          <strong>Quantity:</strong> @@quantity
        </div>
      </div>
      <div class="col-4 px-6">
        <div>Shipping Address</div>
        <div class="mt-3">
          <div class="fw-bold">Jennifer Weston</div>
          <div>FIREBRAND, LLC</div>
          <div>1234 N Main Road</div>
          <div>Seattle, WA 98122</div>
          <div>(123) 456-7891</div>
        </div>
      </div>
      <div class="col-3 px-6">
        <div>Shipping Method</div>
        <div class="mt-3">
          <div class="fw-bold">Standard</div>
          <div>5-6 Business days</div>
        </div>
      </div>
      <div class="col-2 text-end d-flex flex-column justify-content-between">
        <a class="link-underline fw-bold fs-6" href="javascript: alert('split shipment')">Split Shipment</a>
      </div>
    </div>
  </div>
</div>