<div class="row mt-6">
  <div class="col">
    <@@headingLevel class="@@headingClasses">Choose a shipping address</@@headingLevel>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="form-group input-group mt-3">
      <span class="form-check col-12 col-lg-6 mb-4">
        <input class="form-check-input" type="radio" name="address" id="address1" checked>
        <label class="form-check-label" for="address1">
          <div class="fw-bold">Jennifer Weston</div>
          <div>FIREBRAND, LLC</div>
          <div>1234 N Main Road</div>
          <div>Seattle, WA 98122</div>
          <div>(123) 456-7891</div>
        </label>
      </span>
      <span class="form-check col-12 col-lg-6 mb-4">
        <input class="form-check-input" type="radio" name="address" id="address2">
        <label class="form-check-label ms-2" for="address2">
          <div class="fw-bold">Jennifer Weston</div>
          <div>56789 S Printing St</div>
          <div>Seattle, WA 98122</div>
          <div>(123)456-7891</div>
        </label>
      </span>
    </div>
  </div>
</div>
<div class="row mt-4">
  <div class="col">
    <a class="link-underline fw-bold fs-6" href="#">+ Add another shipping address</a>
  </div>
</div>