<div class="row justify-content-between pt-5 pb-4 px-4 mt-4 border rounded-2">
  <div class="col-8 d-flex flex-column justify-content-center align-content-center">
    <div class="order-info">
      <ul class="list-unstyled list-inline">
        <li class="list-inline-item">
          <span class="fw-bold">Order Date:</span> April 27, 2022
        </li>
        <li class="list-inline-item">
          <span class="fw-bold">Order Number:</span> 128537
        </li>
        <li class="list-inline-item">
          <span class="fw-bold">PO Number:</span> 5512
        </li>
        <li class="list-inline-item">
          <span class="fw-bold">Total:</span> $230.50
        </li>
      </ul>
    </div>
    <div class="order-thumbs">
      <ul class="list-unstyled list-inline m-0">
        <li class="list-inline-item mb-3">
          <img width="128" height="88" src="./img/placeholder-small.png" alt="">
        </li>
        <li class="list-inline-item mb-3">
          <img width="128" height="88" src="./img/placeholder-small.png" alt="">
        </li>
        <li class="list-inline-item mb-3">
          <img width="128" height="88" src="./img/placeholder-small.png" alt="">
        </li>
        <li class="list-inline-item mb-3">
          <img width="128" height="88" src="./img/placeholder-small.png" alt="">
        </li>
        <li class="list-inline-item mb-3 position-relative">
          <img width="128" height="88" src="./img/placeholder-small.png" alt="">
          <span class="position-absolute top-50 start-50 translate-middle display-2 text-orange">+2</span>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-3">
    <div class="display-3 text-end text-blue">Pending Approval</div>
    <button type="button" class="btn btn-sm btn-dark-blue w-100 mt-3">View Order Details</button>
    <button type="button" class="btn btn-sm btn-outline-dark-blue w-100 mt-2">Contact Support</button>
  </div>
</div>