<div class="row justify-content-between pt-5 pb-4 px-4 mt-4 border rounded-2 position-relative">
  <div class="col-12 col-lg-8 d-flex flex-column justify-content-center align-content-center">
    <div class="position-absolute top-0 fs-7 p-1 text-uppercase bg-light-green text-success">Complete</div>
    <div class="order-info">
      <ul class="list-unstyled list-inline">
        <li class="d-block d-lg-inline-block">
          <span class="fw-bold">Order Date:</span> April 27, 2022
        </li>
        <li class="d-block d-lg-inline-block ms-lg-3">
          <span class="fw-bold">Order Number:</span> 128537
        </li>
        <li class="d-block d-lg-inline-block ms-lg-3">
          <span class="fw-bold">PO Number:</span> 4338
        </li>
        <li class="d-block d-lg-inline-block ms-lg-3">
          <span class="fw-bold">Total:</span> $230.50
        </li>
      </ul>
    </div>
    <div class="order-thumbs">
      <ul class="list-unstyled list-inline m-0">
        <li class="list-inline-item mb-3">
          <img width="86" height="60" src="./img/placeholder-small.png" alt="">
        </li>
        <li class="list-inline-item mb-3">
          <img width="86" height="60" src="./img/placeholder-small.png" alt="">
        </li>
        <li class="list-inline-item mb-3">
          <img width="86" height="60" src="./img/placeholder-small.png" alt="">
        </li>
        <li class="list-inline-item mb-3">
          <img width="86" height="60" src="./img/placeholder-small.png" alt="">
        </li>
        <li class="list-inline-item mb-3 position-relative">
          <img width="86" height="60" src="./img/placeholder-small.png" alt="">
          <span class="position-absolute top-50 start-50 translate-middle display-2 text-orange">+2</span>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-12 col-lg-3 mt-3 mt-lg-0 d-flex flex-column justify-content-center">
    <button type="button" class="btn btn-sm btn-dark-blue w-100">View Order Details</button>
  </div>
</div>