<div class="row border-top mt-4 py-4">
  <div class="col-12 col-lg-8">
    <div>
      <span class="fw-bolder">Shipping Quantity:</span> 60
    </div>
    <div>
      <span class="fw-bolder">Shipping Method:</span> Standard shipping, 5-7 days
    </div>
    <div class="mt-4">
      <a href="javascript: alert('tracking');" class="fw-bold fs-5 link-underline">Tracking: 1Z999999999999999999</a>
    </div>
  </div>
  <div class="col-12 col-lg-4 line-height-3">
    <h3 class="display-5 text-uppercase text-dark-blue">Shipping Address</h3>
    <div class="">
      <div class="fw-bold">Jennifer Weston</div>
      <div>FIREBRAND, LLC</div>
      <div>1234 N Main Road</div>
      <div>Seattle, WA 98122</div>
      <div>(123) 456-7891</div>
    </div>
  </div>
</div>