<footer class="container-fluid bg-dark-blue">
    <div class="container py-6 text-light">
        <div class="row py-4 my-4 g-0">
            <div class="col mb-3">
                <a href="./" class="d-flex align-items-center mb-3 link-light text-decoration-none">
                    <img src="./img/logo-firebrand-light.svg" alt="Firebrand">
                </a>
                <div class="my-4">
                    916A 14th Ave<br>
                    Seattle, WA 98122
                </div>
                <div>
                    <a href="tel:18666653473" class="link-light">+1 (866) 665-3473</a>
                    <a href="mailto:support@firebrandprinting.com" class="link-light">support@firebrandprinting.com</a>
                </div>
            </div>

            <div class="col mb-3"></div>

            <div class="col mb-3">
                <h5 class="text-light">Section</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="./" class="nav-link p-0 text-light">Company</a></li>
                    <li class="nav-item mb-2"><a href="./" class="nav-link p-0 text-light">About</a></li>
                    <li class="nav-item mb-2"><a href="./" class="nav-link p-0 text-light">Contact</a></li>
                </ul>
            </div>

            <div class="col mb-3">
                <h5 class="text-light">Section</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="./" class="nav-link p-0 text-light">Products</a></li>
                    <li class="nav-item mb-2"><a href="./" class="nav-link p-0 text-light">UL Labels</a></li>
                    <li class="nav-item mb-2"><a href="./" class="nav-link p-0 text-light">QL Labels</a></li>
                    <li class="nav-item mb-2"><a href="./" class="nav-link p-0 text-light">View All</a></li>
                </ul>
            </div>

            <div class="col mb-3">
                <h5 class="text-light">Section</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="./" class="nav-link p-0 text-light">Quicklinks</a></li>
                    <li class="nav-item mb-2"><a href="./" class="nav-link p-0 text-light">Get A Quote</a></li>
                    <li class="nav-item mb-2"><a href="./" class="nav-link p-0 text-light">My Account</a></li>
                    <li class="nav-item mb-2"><a href="./" class="nav-link p-0 text-light">Order History</a></li>
                </ul>
            </div>
        </div>
        <div class="row justify-content-between g-0 pt-4 mt-4 border-top">
            <div class="col mb-3">
                <ul class="nav">
                    <li class="nav-item"><a href="./" class="p-0 text-light text-capitalize display-6">Terms of Service</a></li>
                    <li class="nav-item"><a href="./" class="px-3 text-light text-capitalize display-6">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="col text-center display-6">©2022 Firebrand, Inc. All rights reserved.</div>
            <div class="col">
                <ul class="nav justify-content-end">
                    <li class="nav-item"><a href="./" class="nav-link p-1 text-light"><img src="./icons/icon-linkedin.svg" alt="LinkedIn"></a></li>
                    <li class="nav-item"><a href="./" class="nav-link p-1 text-light"><img src="./icons/icon-facebook.svg" alt="Facebook"></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<script src="./js/all.js"></script>
</body>
</html>
