<section class="container pt-6 g-sm-4">
  <div class="mx-sm-6 mx-lg-0 px-sm-6 px-lg-0">
    <h2 class="display-3 text-dark-gray">@@blockTitle</h2>
    <div class="row row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <div class="row p-2">
          <div class="col border rounded-2 p-3">
            <a href="./">
              <div class="mb-3 text-center">
                <img class="img-fluid" src="./img/placeholder-medium.png" alt="@@alt1">
              </div>
              <h2 class="display-5 text-blue text-capitalize line-height-2">@@title1</h2>
            </a>
          </div>
        </div>
      </div>
      <div class="feature col">
        <div class="row p-2">
          <div class="col border rounded-2 p-3">
            <a href="./">
              <div class="mb-3 text-center">
                <img class="img-fluid" src="./img/placeholder-medium.png" alt="@@alt2">
              </div>
              <h2 class="display-5 text-blue text-capitalize line-height-2">@@title2</h2>
            </a>
          </div>
        </div>
      </div>
      <div class="feature col">
        <div class="row p-2">
          <div class="col border rounded-2 p-3">
            <a href="./">
              <div class="mb-3 text-center">
                <img class="img-fluid" src="./img/placeholder-medium.png" alt="@@alt3">
              </div>
              <h2 class="display-5 text-blue text-capitalize line-height-2">@@title3</h2>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>