<div class="col-sm-12 col-lg-6">
  <div id="productImages" class="carousel slide carousel-fade" data-bs-ride="false">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="./img/placeholder-product.png" class="d-block w-100" alt="Image 1">
      </div>
      <div class="carousel-item">
        <img style="filter: invert(100%)" src="./img/placeholder-product.png" class="d-block w-100" alt="Image 2">
      </div>
      <div class="carousel-item">
        <img style="filter: hue-rotate(180deg);" src="./img/placeholder-product.png" class="d-block w-100" alt="Image 3">
      </div>
      <div class="carousel-item">
        <img style="filter: hue-rotate(90deg);" src="./img/placeholder-product.png" class="d-block w-100" alt="Image 3">
      </div>
    </div>
    <div class="row row-cols-5 mt-4">
      <div class="col">
        <a href="./" data-bs-target="#productImages" data-bs-slide-to="0" class="active border-disabled" aria-current="true" aria-label="Slide 1">
          <img src="./img/placeholder-product.png" class="d-block w-100" alt="Image 1">
        </a>
      </div>
      <div class="col">
        <a href="./" data-bs-target="#productImages" data-bs-slide-to="1" aria-label="Slide 2">
          <img style="filter: invert(100%)" src="./img/placeholder-product.png" class="d-block w-100" alt="Image 2">
        </a>
      </div>
      <div class="col">
        <a href="./" data-bs-target="#productImages" data-bs-slide-to="2" aria-label="Slide 3">
          <img style="filter: hue-rotate(180deg);" src="./img/placeholder-product.png" class="d-block w-100" alt="Image 3">
        </a>
      </div>
      <div class="col">
        <a href="./" type="button" data-bs-target="#productImages" data-bs-slide-to="3" aria-label="Slide 4">
          <img style="filter: hue-rotate(90deg);" src="./img/placeholder-product.png" class="d-block w-100" alt="Image 3">
        </a>
      </div>
    </div>
  </div>
</div>