<section class="container mt-6 pt-6">
  <div class="row">
    <div class="col">
      <ul class="nav nav-tabs nav-fill product-info-tabs" id="productInfo" role="tablist">
        <li class="nav-item w-50" role="presentation">
          <button class="nav-link text-uppercase active" id="detail-tab" data-bs-toggle="tab" data-bs-target="#detail-tab-pane" type="button" role="tab" aria-controls="detail-tab-pane" aria-selected="true">Detail</button>
        </li>
        <li class="nav-item w-50" role="presentation">
          <button class="nav-link text-uppercase" id="consider-tab" data-bs-toggle="tab" data-bs-target="#consider-tab-pane" type="button" role="tab" aria-controls="consider-tab-pane" aria-selected="false">What to consider</button>
        </li>
      </ul>
      <div class="tab-content mt-4 pt-4" id="productInfoContent">
        <div class="tab-pane fade show active" id="detail-tab-pane" role="tabpanel" aria-labelledby="detail-tab" tabindex="0">
          <ul>
            <li>What material should it be printed on? We offer clear, white, and several metallic options to complement the overall design of your product. All of our materials feature excellent adhesives that meet UL specifications.</li>
            <li class="mt-4">How much protection does your label need? Adding an overlaminate provides surface protection for the printing on your label. For maximum scratch and impact protection, choose polycarbonate; for excellent scratch protection, a gloss overlaminate will suffice. Labels without laminates are still durable and somewhat scratch resistant but a laminate can also add a more sophisticated appearance and texture in addition to protection from damage.</li>
          </ul>
        </div>
        <div class="tab-pane fade" id="consider-tab-pane" role="tabpanel" aria-labelledby="consider-tab" tabindex="0">
          <ul>
            <li>Consider adding your branding to your label. Unlike many UL label providers, we offer a wide spectrum of printing colors to get just the right look – turn a boring regulatory label into a branding opportunity!</li>
            <li class="mt-4">How much protection does your label need? Adding an overlaminate provides surface protection for the printing on your label. For maximum scratch and impact protection, choose polycarbonate; for excellent scratch protection, a gloss overlaminate will suffice. Labels without laminates are still durable and somewhat scratch resistant but a laminate can also add a more sophisticated appearance and texture in addition to protection from damage.</li>
            <li class="mt-4">What material should it be printed on? We offer clear, white, and several metallic options to complement the overall design of your product. All of our materials feature excellent adhesives that meet UL specifications.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>