.navbar .nav-link {
  font-weight: 600;
  line-height: 1.25rem;
  letter-spacing: 0.08rem;
}

.navbar .cart-link {
  position: relative;
}

.navbar .cart-total {
  position: absolute;
  top: -1rem;
  left: 0.65rem;
  font-size: 0.75rem;
}